<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="a200_gazebo" params="namespace:=/a200_0000" >
        <gazebo>
            <plugin filename="libgz-sim-wheel-slip-system.so" name="gz::sim::systems::WheelSlip">
            <wheel link_name="front_left_wheel_link">
                <slip_compliance_lateral>1.0</slip_compliance_lateral>
                <slip_compliance_longitudinal>1.0</slip_compliance_longitudinal>
                <wheel_normal_force>113</wheel_normal_force>
                <wheel_radius>0.1651</wheel_radius>
            </wheel>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin filename="libgz-sim-wheel-slip-system.so" name="gz::sim::systems::WheelSlip">
            <wheel link_name="front_right_wheel_link">
                <slip_compliance_lateral>1.0</slip_compliance_lateral>
                <slip_compliance_longitudinal>1.0</slip_compliance_longitudinal>
                <wheel_normal_force>113</wheel_normal_force>
                <wheel_radius>0.1651</wheel_radius>
            </wheel>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin filename="libgz-sim-wheel-slip-system.so" name="gz::sim::systems::WheelSlip">
            <wheel link_name="rear_left_wheel_link">
                <slip_compliance_lateral>1.0</slip_compliance_lateral>
                <slip_compliance_longitudinal>1.0</slip_compliance_longitudinal>
                <wheel_normal_force>113</wheel_normal_force>
                <wheel_radius>0.1651</wheel_radius>
            </wheel>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin filename="libgz-sim-wheel-slip-system.so" name="gz::sim::systems::WheelSlip">
            <wheel link_name="rear_right_wheel_link">
                <slip_compliance_lateral>1.0</slip_compliance_lateral>
                <slip_compliance_longitudinal>1.0</slip_compliance_longitudinal>
                <wheel_normal_force>113</wheel_normal_force>
                <wheel_radius>0.1651</wheel_radius>
            </wheel>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin filename="libgz-sim-pose-publisher-system.so" name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <publish_nested_model_pose>true</publish_nested_model_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <update_frequency>50</update_frequency>
            </plugin>
        </gazebo>

        <gazebo reference="lidar2d_0_laser">
            <sensor name="lidar2d_0" type="gpu_lidar">
            <update_rate>40</update_rate>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <gz_frame_id>lidar2d_0_laser</gz_frame_id>
            <topic>${namespace}/sensors/lidar2d_0/scan</topic>
            <lidar>
                <scan>
                <horizontal>
                    <samples>540</samples>
                    <resolution>1</resolution>
                    <min_angle>-2.356</min_angle>
                    <max_angle>2.356</max_angle>
                </horizontal>
                <vertical>
                    <samples>1</samples>
                    <resolution>1</resolution>
                    <min_angle>0</min_angle>
                    <max_angle>0</max_angle>
                </vertical>
                </scan>
                <range>
                <min>0.05</min>
                <max>25.0</max>
                <resolution>0.01</resolution>
                </range>
            </lidar>
            </sensor>
        </gazebo>

        <gazebo reference="lidar3d_0_laser">
            <sensor name="lidar3d_0" type="gpu_lidar">
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <gz_frame_id>lidar3d_0_laser</gz_frame_id>
            <topic>${namespace}/sensors/lidar3d_0/scan</topic>
            <lidar>
                <scan>
                <horizontal>
                    <samples>900</samples>
                    <resolution>1</resolution>
                    <min_angle>-3.141592</min_angle>
                    <max_angle>3.141592</max_angle>
                </horizontal>
                <vertical>
                    <samples>15</samples>
                    <resolution>1</resolution>
                    <min_angle>-0.261799</min_angle>
                    <max_angle>0.261799</max_angle>
                </vertical>
                </scan>
                <range>
                <min>0.9</min>
                <max>130.0</max>
                <resolution>0.01</resolution>
                </range>
            </lidar>
            </sensor>
        </gazebo>

        <gazebo reference="rear_camera_color_frame">
            <sensor name="realsense_d435_camera" type="rgbd_camera">
                <camera>
                    <horizontal_fov>1.25</horizontal_fov>
                    <image>
                    <width>640</width>
                    <height>480</height>
                    </image>
                    <clip>
                    <near>0.3</near>
                    <far>100</far>
                    </clip>
                    <gz_frame_id>rear_camera_color_frame</gz_frame_id>
                    <optical_frame_id>rear_camera_color_frame</optical_frame_id>
                </camera>
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <gz_frame_id>rear_camera_color_frame</gz_frame_id>
                <topic>${namespace}/sensors/camera_0</topic>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>