<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="clearpath_dark_grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="clearpath_medium_grey">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>
  <material name="clearpath_light_grey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>
  <material name="clearpath_yellow">
    <color rgba="0.8 0.8 0.0 1.0"/>
  </material>
  <material name="clearpath_black">
    <color rgba="0.15 0.15 0.15 1.0"/>
  </material>
  <material name="clearpath_white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="clearpath_red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="clearpath_aluminum">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="clearpath_plastic">
    <color rgba="0.1 0.1 0.1   1"/>
  </material>
</robot>
