<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="devol">
    <xacro:arg name="initial_positions_file" default="$(find devol_moveit_config)/config/initial_positions.yaml" />

    <!-- Import devol urdf file -->
    <xacro:include filename="$(find devol_description)/urdf/devol.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find devol_moveit_config)/config/devol.ros2_control.xacro" />

    <xacro:devol_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
