<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="diff_drive_ros2_control" params="name tf_prefix use_gazebo:=^|false">
        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_gazebo}">
                    <!-- Use Gazebo plugin for simulation -->
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_gazebo}">
                    <!-- Use Mock Hardware for real hardware -->
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:unless>
            </hardware>
            <joint name="${tf_prefix}left_wheel_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="${tf_prefix}right_wheel_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
