<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="devol_drive_gazebo" params="
    wheel_separation
    wheel_radius
    max_linear_acceleration
    tf_prefix
    namespace:=/devol_drive">

    <!-- Gazebo Parameters -->
    <xacro:include filename="$(find devol_description)/urdf/devol.gazebo.xacro"/>

    <xacro:devol_gazebo tf_prefix="${tf_prefix}" namespace="${namespace}" />
  </xacro:macro>
</robot>