<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="devol_gazebo">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find devol_description)/config/ros2_controllers.yaml</parameters>
      </plugin>

      <plugin
        filename="libgz-sim-detachable-joint-system.so"
        name="gz::sim::systems::DetachableJoint">
        <parent_link>wrist_3_link</parent_link>
        <child_link>target_block</child_link>
        <child_model>target_block</child_model>
        <child_model_link>target_block</child_model_link>
        <attach_topic>/devol_attach/attach</attach_topic>
        <detach_topic>/devol_attach/detach</detach_topic>
      </plugin>


    </gazebo>

    <!-- Camera -->
    <gazebo reference="camera_color_frame">

      <sensor type="camera" name="realsense_d405_camera">
        <pose relative_to="camera_color_frame">0 0 0 3.14159 0 0</pose>
        <topic>camera/image_raw</topic>

        <camera>
          <camera_info_topic>camera/camera_info</camera_info_topic>
          <horizontal_fov>1.518</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>5.0</far>
          </clip>
        </camera>

        <always_on>1</always_on>
        <visualize>1</visualize>
        <update_rate>30</update_rate>

      </sensor>
    </gazebo>

    <!-- Depth Camera  -->
    <gazebo reference="camera_depth_frame">

      <sensor type="depth_camera" name="realsense_d405_depth_camera">
        <topic>depth/image_raw</topic>
        <pose relative_to="camera_color_frame">0 0 0 3.14159 0 0</pose>

        <camera>
          <camera_info_topic>depth/camera_info</camera_info_topic>
          <horizontal_fov>1.518</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>L16</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>5.0</far>
          </clip>
        </camera>

        <always_on>true</always_on>
        <visualize>1</visualize>
        <update_rate>30</update_rate>

      </sensor>
    </gazebo>

  </xacro:macro>

</robot>