<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="devol">
  <xacro:arg name="name" default="devol"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="ur_type" default="ur20"/>
  <xacro:arg name="joint_limit_params" default="$(find devol_description)/config/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="robot_ip" default="yyy.yyy.yyy.yyy" />
  <xacro:arg name="script_filename" default="None" />
  <xacro:arg name="input_recipe_filename" default="None" />
  <xacro:arg name="output_recipe_filename" default="None" />
  <xacro:arg name="use_gazebo" default="true" />
  <xacro:arg name="namespace" default="/devol" />

  <!-- initial position for simulations (Mock Hardware, Gazebo, Ignition) -->
  <xacro:arg name="initial_positions_file" default="$(find devol_description)/config/initial_positions.yaml"/>

  <!-- convert to property to use substitution in function -->
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <!-- Import devol macro -->
  <xacro:include filename="$(find devol_description)/urdf/devol_macro.urdf.xacro"/>
  <!-- ros2_control description -->
  <xacro:include filename="$(find devol_description)/urdf/devol.ros2_control.xacro"/>

  <link name="world" />
  <xacro:devol 
    parent="world" 
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)" 
    ur_type="$(arg ur_type)"
    joint_limit_params="$(arg joint_limit_params)"
    kinematics_params="$(arg kinematics_params)"
    physical_params="$(arg physical_params)"
    visual_params="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    initial_positions="${xacro.load_yaml((initial_positions_file))}"
    use_gazebo="$(arg use_gazebo)"
    force_abs_paths="$(arg use_gazebo)"
    >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:devol>

  <xacro:devol_ros2_control name="devol_ros2_control" tf_prefix="$(arg tf_prefix)" use_gazebo="$(arg use_gazebo)"/>

  <xacro:if value="$(arg use_gazebo)">
    <xacro:include filename="$(find devol_description)/urdf/devol.gazebo.xacro"/>
    <xacro:devol_gazebo
      tf_prefix="$(arg tf_prefix)" 
      namespace="$(arg namespace)"
      />

     <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find devol_description)/config/ros2_controllers.yaml</parameters>
        
          <ros>
            <namespace>devol</namespace>
          </ros>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
