<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="devol_gazebo">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find devol_description)/config/ros2_controllers.yaml</parameters>
      </plugin>

      <plugin
        filename="libgz-sim-detachable-joint-system.so"
        name="gz::sim::systems::DetachableJoint">
        <parent_link>wrist_3_link</parent_link>
        <child_link>target_block</child_link>
        <child_model>target_block</child_model>
        <child_model_link>target_block</child_model_link>
        <attach_topic>/devol_attach/attach</attach_topic>
        <detach_topic>/devol_attach/detach</detach_topic>
      </plugin>

    </gazebo>

  </xacro:macro>

</robot>