<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ros2_control description -->
    <xacro:include filename="$(find devol_drive_description)/urdf/devol_drive.ros2_control.xacro"/>

    <xacro:macro name="dual_devol_ros2_control" params="robot_one_prefix robot_two_prefix use_gazebo:=^|false">
        <xacro:devol_drive_ros2_control tf_prefix="${robot_one_prefix}" use_gazebo="${use_gazebo}"/>
        <xacro:devol_drive_ros2_control tf_prefix="${robot_two_prefix}" use_gazebo="${use_gazebo}"/>
    </xacro:macro>
</robot>
